

html, body {
	/*background-color: #4aaaa5;*/
	font-family: 'Georgia', Times, Times New Roman,serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #eee;
}

.container {
	width: 80%;
	height: calc(100% - 75px);
	margin: 30px auto 0 auto;
}

.header {
	background-color: #ffffff;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.navbar {
	box-sizing: border-box;
	margin:0 auto;
	height: 70px;
	padding: 0 10%;
	background-color: white;
	border-bottom: 2px solid #cccccc;
}

.navbar h2 {
	height: 100%;
	background-color: #4aaaa5;
	margin: 0;
	padding: 0 30px;
	float: left;
	font-family: serif;
	display: block;
	font-size: 200%;
}

.navbar h2 a {
	line-height: 70px;
	color: #ffffff;
	text-decoration: none;
	font-family: serif;
	cursor: auto;
}

.navbar ul {
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	display: block;
}

.navbar ul li {
	height: 100%;
	display: inline-block;
}

.navbar ul li a {
	text-decoration: none;
	font-family: serif;
	color: #777777;
	font-size: 18px;
	line-height: 70px;
	padding: 0 30px;
	cursor: auto;
}

.navbar ul li a.middle {
	border-left: 2px solid grey;
	border-right: 2px solid grey;
}

.navbar ul li a:hover {
	color: green;
}

.navbar ul li a::before {
	content: '';
	display: block;
	height: 5px;
	color: #777777;
	background-color: #777777;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

.navbar ul li a:hover::before {
	width: 100%;
}

.content {
	width: calc(70% - 20px);
	min-height: 450px;
	background-color: #fff;
	float: left;
	border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: grey;
}
.content h1 {
	color: #4aaaa5;
	font-size: 200%;
	height: 100%;
	margin: 0;
	padding: 0 30px;
	padding-top: 30px;
	padding-bottom: 25px;
	font-family: serif;
}

.content hr {
	width: 200%px;
	border-color: #cccccc;
}

.about {
	height: 400px;
	background-color: #fff; 
}

/*.about hr {
	width: 200%px;
	border-color: #888;
}*/

.about p{
	font-family: serif;
	color: #777777;
	text-align: justify;
	margin: 0;
	padding: 0 30px;
	padding-top: 30px;
	padding-bottom: 25px;
}

.about img{
	float: left;
	clear: both;
	margin: 0;
	padding: 0 30px;
	padding-top: 30px;
	padding-bottom: 25px;
}



/*-- BGN CONTACT */
.widget {
	width: calc(30% - 20px);
	height: 200px;
	float: right;
	background-color: #fff;
	border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: grey
}

.widget hr {
	border-color: #dddddd;
	/*align-self: center; */
}

.widget h3 {
	font-family: serif;
	color: #4aaaa5;
	text-align: center;
	font-size: 30px;
}

.smedia {
	margin: 0;
	padding: 0 30px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.smedia img {
	float:left;
	margin: 0;
	padding: 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form {
	width: 500px;
	height: 500px;
}

.form input {
	width: 200px;
	height: 30px;
	margin-top: 10px;
	text-indent: 10px;
	border: 2px solid green;
}

.form textarea {
	width: 400px;
	height: 100px;
	margin-top: 10px;
	font-family: serif;
	text-indent: 10px;
	border: 2px solid green
}

.form button {
	width: 100px;
	height: 35px;
	color: #4aaaa5;
	margin-top: 10px;
	background-color: green;
	border: none;
	border-radius: 1px;
	cursor: pointer;

}

.form button:hover {
	background-color: #4aaaa5;
}
/*<!-- END CONTACT -->


<!-- BG FOOTER --> */
.footer {
	width: 100%;
	height: 70px;
	background-color: #777777;
	border-top: 5px solid #4aaaa5;
	display: block;
	clear: both;
	position: fixed;
	bottom: 0;
}

.footer p {
	line-height: 70px;
	color: #777777;
	text-align: center;
	font-family: arial;
}

.footer p a {
	color: #cccccc;
	font-family: serif;
	text-decoration: none;
}

.footer p a:hover {
	text-decoration: underline;
	color: green;
}
/* <!-- End FOOTER --> */